* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #edf2f5;
  --white-2: #e1e7e9ef;

  --white-text: #e0e0e0ef;

  --black: #282b33;
  --black-2: #25272c;

  --gray: #555a64;
  --gray-2: #7a6c71;

  --primary: #9d0c40;
  --secondary: #047ca1;
  --tertiary: #85633d;

  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Noto Sans", sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --gap: 1.5rem;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--black);
  color: var(--white);
  -webkit-tap-highlight-color: transparent;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

a:focus {
  text-decoration: none;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #82002d;
  filter: brightness(0.1);
  border-radius: 2rem;
}

::-webkit-scrollbar-track-piece {
  background-color: #333436;
  border-radius: 2rem;
}
