@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);

    -webkit-filter: blur(12px);
    filter: blur(12px);

    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);

    -webkit-filter: blur(0px);
    filter: blur(0px);

    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);

    -webkit-filter: blur(12px);
    filter: blur(12px);

    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);

    -webkit-filter: blur(0px);
    filter: blur(0px);

    opacity: 1;
  }
}

.container {
  min-height: calc(100vh - 16rem);
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;

  main {
    max-width: 1216px;
    width: 100%;

    -webkit-animation: slide-in-bottom 0.9s ease-in-out forwards;
    animation: slide-in-bottom 0.9s ease-in-out forwards;
  }
}

.shadow_drop_2_center {
  -webkit-animation: shadow-drop-2-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.containerHeader {
  display: flex;
  margin-bottom: 3rem;

  -webkit-animation: text-focus-in 1s both;
  animation: text-focus-in 1s both;

  @media (max-width: 800px) {
    flex-direction: column;

    img {
      align-self: center;
      margin-bottom: 1rem;
    }
  }

  img {
    width: 15rem;
    height: auto;

    border-radius: 50%;

    border: 0.2rem solid var(--primary);
  }

  h3 {
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-bold);
    font-size: 2rem;
    line-height: 3rem;
  }

  p {
    line-height: 2rem;
    margin: 1rem 0 0 1rem;
  }
}

.containerGridCardPost > * {
  margin: var(--gap) 0 0 var(--gap);
}

.containerGridCardPost {
  display: inline-flex;

  flex-wrap: wrap;

  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));

  width: calc(100% + var(--gap));
}
