@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.container {
  min-height: calc(100vh - 16rem);
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;

  main {
    max-width: 1216px;
    width: 100%;

    -webkit-animation: text-focus-in 1s both;
    animation: text-focus-in 1s both;
  }
}

.containerPosts {
  font-size: 19px;

  @media (min-width: 1120px) {
    padding: 0 10rem;
  }

  h1,
  h2 {
    line-height: 3.3rem;
    margin: 3rem 0;

    font-size: 2rem;
    text-shadow: 4px 5px 3px rgba(6, 24, 44, 0.4);

    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: var(--primary);
  }

  time {
    display: flex;
    align-items: center;

    line-height: 3rem;
    font-size: 1rem;
    color: var(--gray);

    svg {
      width: 18px;
      height: 18px;
      margin-right: 5px;
    }
  }

  h3,
  h4,
  h5 {
    line-height: 3rem;
    margin: 2.5rem 0;

    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 4px 5px 3px rgba(6, 24, 44, 0.4);

    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: var(--primary);
  }

  p {
    line-height: 2.5rem;
    font-size: 1.2rem;
    color: var(--white-text);
  }

  ul {
    line-height: 2rem;
    margin: 2rem 2rem;
    font-size: 1.2rem;
  }

  li {
    font-size: 1rem;
  }

  a {
    border-bottom: 2px solid var(--gray);

    &:hover {
      border-bottom: 2px solid var(--primary);
    }
  }

  pre {
    background-color: var(--black-2);
    border-radius: 0.5rem;

    padding: 1rem;
    margin: 1.5rem 0.5rem;

    overflow: auto;
    height: auto;

    color: var(--gray-2);

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }

  code {
    font-size: 90%;
    padding: 2px 5px;
  }

  strong {
    color: var(--white-text-bold);
    font-size: 1.1rem;
  }

  img {
    width: 100%;
    height: auto;
  }
}
