svg {
  .svg_elem_1 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  }
  .svg_elem_2 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  }
  .svg_elem_3 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  }
  .svg_elem_4 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  }
  .svg_elem_5 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.2000000000000002s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.2000000000000002s;
  }
  .svg_elem_6 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
  }
  .svg_elem_7 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.4000000000000001s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.4000000000000001s;
  }
  .svg_elem_8 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
  }
  .svg_elem_9 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
  }
  .svg_elem_10 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.7000000000000002s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.7000000000000002s;
  }
  .svg_elem_11 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
  }
  .svg_elem_12 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.9000000000000001s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.9000000000000001s;
  }
  .svg_elem_13 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
  }
  .svg_elem_14 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
  }
  .svg_elem_15 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
  }
  .svg_elem_16 {
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
  }
  .svg_elem_17 {
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      2.4000000000000004s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      2.4000000000000004s;
  }
  .svg_elem_18 {
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
  }
  .svg_elem_19 {
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
  }
  .svg_elem_20 {
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
  }
  .svg_elem_21 {
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s;
  }
  .svg_elem_22 {
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      2.9000000000000004s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      2.9000000000000004s;
  }
  .svg_elem_23 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
  }
  .svg_elem_24 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      3.1000000000000005s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      3.1000000000000005s;
  }
  .svg_elem_25 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
  }
}
svg.active {
  .svg_elem_1 {
    fill: rgb(255, 255, 255);
  }
  .svg_elem_2 {
    fill: rgb(0, 0, 0);
  }
  .svg_elem_3 {
    fill: rgb(0, 0, 0);
  }
  .svg_elem_4 {
    fill: rgb(0, 0, 0);
  }
  .svg_elem_5 {
    fill: rgb(0, 0, 0);
  }
  .svg_elem_6 {
    fill: rgb(0, 0, 0);
  }
  .svg_elem_7 {
    fill: rgb(0, 0, 0);
  }
  .svg_elem_8 {
    fill: rgb(0, 0, 0);
  }
  .svg_elem_9 {
    fill: rgb(237, 242, 245);
  }
  .svg_elem_10 {
    fill: rgb(237, 242, 245);
  }
  .svg_elem_11 {
    fill: rgb(237, 242, 245);
  }
  .svg_elem_12 {
    fill: rgb(237, 242, 245);
  }
  .svg_elem_13 {
    fill: rgb(237, 242, 245);
  }
  .svg_elem_14 {
    fill: rgb(237, 242, 245);
  }
  .svg_elem_15 {
    fill: rgb(237, 242, 245);
  }
  .svg_elem_23 {
    fill: rgb(157, 12, 64);
  }
  .svg_elem_24 {
    fill: rgb(157, 12, 64);
  }
  .svg_elem_25 {
    fill: rgb(157, 12, 64);
  }
}
