.cardPost {
  article {
    display: flex;
    flex-direction: column;
    height: 100%;

    padding: 1.5rem;
  }

  width: 31.33%;

  @media (max-width: 1240px) {
    max-width: 31%;
  }

  @media (max-width: 1160px) {
    min-width: 30.33%;
  }

  @media (max-width: 1000px) {
    min-width: 47.33%;
  }

  @media (max-width: 880px) {
    min-width: 46.33%;
  }

  @media (max-width: 700px) {
    min-width: 96.33%;
  }

  @media (max-width: 550) {
    min-width: 93.33%;
  }

  height: 24rem;

  border-radius: 0.5rem;

  overflow: hidden;

  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  background-color: var(--gray);

  cursor: pointer;

  transition: transform 0.3s, filter 0.3s;

  &:hover {
    transform: translate(0, -5px);
    filter: brightness(0.9);

    h2 {
      text-shadow: 2px 2px 4px var(--primary);
      transition: text-shadow 0.6s;
    }
  }
}

.titleCard {
  display: block;
  font-size: 2rem;
}

.dateCard {
  font-size: 0.8rem;
  margin-bottom: auto;
}

.linkTech {
  width: max-content;
  z-index: 2;

  font-weight: 600;
  font-size: 0.9rem;

  padding: 0.3rem 1rem;

  border-radius: 1rem;

  transition: color 1000ms;

  &:hover {
    color: var(--gray);
    background-color: var(--white);
    transition: background-color 1000ms linear;
  }
}
