.containerSearch {
  display: flex;
  align-items: center;

  width: 100%;

  border: 2px solid var(--gray);
  border-radius: 0.8rem;
  margin-bottom: 1.5rem;

  overflow: hidden;

  svg {
    width: 18px;
    height: 18px;

    margin-left: 16px;

    color: var(--gray);
  }

  input {
    background-color: var(--black);

    width: 100%;

    border: none;

    padding: 1rem;

    outline: none;

    transition: box-shadow 0.2s;

    color: var(--white-2);
  }
}
